---
---
$content-width: 960px;
@import "whiteglass";

body {
  background: url('/assets/img/squairy_light.png');
}

.center {
  text-align: center;
}

.nomargin {
  margin: auto 0;
}


.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, 254px);
  grid-gap: 15px;
  justify-content: center;
}

.card {
  text-align: center;
  width: 254px;
  
  img {
    margin-bottom: 10px;
    border-radius: 10px;
    width: 254px;
    height: 102px;
    object-fit: cover;
  }
}

.cv-data {
  width: auto;
  line-height: normal;
  
  td {
    padding: 0.4em;
    margin-bottom: 0.7em;
    vertical-align: baseline
  }
  
  td:first-child {
    text-align: right;
    border-bottom: 1px dotted $text-color;
  }
  
  td:last-child {
    border-bottom: 1px dotted $text-color;
    border-left: 1px dotted $text-color;
  }
  
  tr:last-child {
    td {
      border-bottom: none
    }
  }
  
  &.headers-on-left {
    td:first-child {
      font-weight: bold;
    }
  }
}
